<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Input Perusahaan</title>
</head>
<body>

<h2>Input Perusahaan</h2>

<form action="#" th:action="@{/save-company}" method="post">
  <label for="kodePerusahaan">Kode Perusahaan:</label>
  <input type="text" id="kodePerusahaan" name="kodePerusahaan" required/><br/><br/>

  <label for="namaPerusahaan">Nama Perusahaan:</label>
  <input type="text" id="namaPerusahaan" name="namaPerusahaan" required/><br/><br/>

  <button type="submit">Simpan</button>
</form>

</body>
</html>
